.container {
    display: grid;
    grid-template-areas:
        'cz'
        'dz1'
        'dz2';
    grid-template-rows: repeat(3 auto);
    grid-template-columns: auto;
    gap: 20px;
    justify-content: flex-start;
    box-sizing: border-box;
    padding: 50px 20px;

    @media (min-width: 768px) {
        grid-template-areas:
            'cz .'
            'dz1 dz2';
        grid-template-rows: repeat(2, auto);
        grid-template-columns: repeat(2, auto);
    }
}
